body {
  background-color: #ebeeee;
  font-family: "Open Sans", sans-serif !important;
}

.container {
  margin-top: 2% !important;
  margin-bottom: 5% !important;
}

@media only screen and (max-width: 768px) {
  .container {
    margin-top: 5% !important;
  }
}

.column {
  margin: inherit !important;
}

/*NPS CARD*/
.nps-score-size {
  font-size: 30px;
  font-weight: 0 !important;
}

.nps-score-align {
  display: flex;
  margin: auto;
}

h1 {
  font-size: 2.8rem !important;
  color: black;
  font-weight: 700 !important;
  font-family: "Nunito Sans", sans-serif !important;
}

h2 {
  color: #1d5470;
  margin-bottom: 0 !important;
  font-size: 2rem !important;
}

h3 {
  color: black;
  font-size: 2rem !important;
  font-weight: 600 !important;
  margin-bottom: 0.5% !important;
}

h4 {
  font-size: 1.75rem !important;
  margin-top: 0 !important;
  font-weight: 400 !important;
}

/*p {
  font-weight: 400 !important;
}*/

.logo {
  max-width: 15%;
}

.column-logo {
  text-align: right;
  margin: inherit !important;
}

.column-display-flex {
  display: flex;
}

/*FORM CONTROL*/
.form-control {
  background-color: white;
  border-color: snow;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  max-width: 50%;
  line-height: inherit;
}

.form-control:focus {
  border-color: snow;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-controlafter:active:after {
  color: red;
}

.column-flex-end {
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .column-flex-end {
    justify-content: flex-start;
  }
  .row-column-reverse {
    flex-direction: column-reverse !important;
  }
  .form-control {
    max-width: 60%;
  }
  .column-logo {
    text-align: left;
    margin: inherit !important;
  }
  .p-mobile {
    font-size: 1.4rem;
  }
}

/*DONUT CHART*/
.donut-auto {
  margin: auto;
  padding: 0 auto;
  text-align-last: center;
}

/*CARDS*/
.card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5% 7%;
}

.card-title {
  width: 30%;
  margin: auto;
}

.card-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
  height: 130px;
}

@media only screen and (max-width: 768px) {
  .card {
    margin-top: 3%;
    padding: 2% 4%;
  }
  .card-flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
  }
  .h4 {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 40rem) {
  .row .column.responsive[class*=" column-"] {
    margin-left: 0;
    max-width: 100%;
    margin-bottom: auto !important;
  }
}

/*FONTAWESOME*/
.fa-info-circle:hover {
  color: #1d5470;
}

.metrics-info {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.column.responsive {
  margin-top: inherit;
}

.column-chart {
  margin-top: 0 !important;
}

.card-margin-top {
  margin-top: 3%;
}

.column {
  margin: auto;
}

.wrapper {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.column-no-margin {
  text-align: center;
  margin: auto !important;
  display: flex !important;
  align-items: flex-end !important;
}

.team-hover:hover {
  background-color: #49adb2;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.td-padding-left {
  padding-left: 3% !important;
}

@media only screen and (max-width: 768px) {
  .td-padding-left {
    padding-left: 0 !important;
  }
}

.wrapper-line {
  width: 60%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 60px 50px;
  background: #fff;
  border-radius: 4px;
}

/*I METRICS*/
.metrics-i {
  border: black;
}

/*#table-wrapper {
  position: relative;
}
#table-scroll {
  width: 600px;
  overflow: auto;
  margin-top: 20px;
}*/

.grid-wrapper {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-gap: 20px;
}

@media only screen and (max-width: 768px) {
  .grid-wrapper {
    display: flow-root;
  }
  .column-wrapper {
    display: flex;
  }
}
