body {
  background-color: #ebeeee;
  font-family: "Open Sans", sans-serif !important;
}

.container {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}

p {
  font-weight: 400 !important;
}

.nps {
  font-size: 30px;
  font-weight: 0 !important;
}
h1 {
  font-size: 2.8rem !important;
  color: black;
  font-weight: 600 !important;
}

h2 {
  color: black;
  font-size: 26px !important;
  font-weight: 600 !important;
  margin-bottom: 1% !important;
}

h3 {
  font-size: 22px !important;
  margin-top: 0 !important;
}

h4 {
  color: #1d5470;
  margin-bottom: 0 !important;
}

.logo {
  max-width: 15%;
}

.column-logo {
  text-align: right;
}

.column-display-flex {
  display: flex;
}

.form-control {
  background-color: white;
  border-color: snow;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  max-width: 50%;
}

.form-control:focus {
  border-color: snow;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.column-flex-end {
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .column-flex-end {
    justify-content: flex-start;
  }
  .row-column-reverse {
    flex-direction: column-reverse !important;
  }
  .form-control {
    max-width: 60%;
  }
  .column-logo {
    text-align: left;
  }
}

.card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5% 7%;
}

@media only screen and (max-width: 768px) {
  .card {
    margin-top: 3%;
  }
}

.card-margin-top {
  margin-top: 3%;
}

.card-nps {
  padding: 6.5% 7%;
}

.column {
  margin: auto;
}

.col-weekly {
  margin-bottom: auto !important;
}

.wrapper {
  position: absolute;
  width: 400px;
  height: 400px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.column-no-margin {
  text-align: center;
  margin: auto !important;
  display: flex !important;
  align-items: flex-end !important;
}

.team-hover:hover {
  background-color: #49adb2;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.td-padding-left {
  padding-left: 3% !important;
}

@media only screen and (max-width: 768px) {
  .td:last-child {
    padding-right: 4% !important;
  }
}

.wrapper-line {
  width: 60%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 60px 50px;
  background: #fff;
  border-radius: 4px;
}
